In [107]:
#Mapping directory
import os 
os.getcwd()
os.listdir()
os.chdir("/Users/ibergeland/Desktop/capstone/StepCounts")
os.listdir('.')
None

In [108]:
#Imports Pandas library for dataframe handling
import pandas as pd

#Imports NumPy library for array handling
import numpy as np

#The glob module finds all the '.xls' pathnames matching to a specific user and stores the data as a dataframe
import glob
glob.glob('*.xls')

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_1 = pd.DataFrame()
for f in glob.glob('2001*'):
            df = pd.ExcelFile(f)
            all_body_data_1 = all_body_data_1.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_1 = pd.DataFrame()
for f in glob.glob('2001*'):
            df = pd.ExcelFile(f)
            all_activities_data_1 = all_activities_data_1.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets             
p2001=pd.concat([all_body_data_1,all_activities_data_1],axis=1)

#Adds patient ID column
p2001['studyID']=2001

p2001

,Weight,BMI,Fat,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,studyID
Date,,,,,,,,,,,,,
2015-07-23,225.00,32.18,0,"2,902","9,865",4.55,0,"1,234",194,2,10,"1,170",2001
2015-07-24,225.00,32.18,0,"2,637","6,695",3.12,0,"1,267",164,7,2,875,2001
2015-07-25,225.00,32.18,0,"2,508","5,311",2.44,0,"1,300",140,0,0,696,2001
2015-07-26,225.00,32.18,0,"2,222","2,176",1.00,0,"1,368",72,0,0,327,2001
2015-07-27,225.00,32.18,0,"3,491","16,141",10.72,0,"1,265",75,11,89,"1,721",2001
2015-07-28,225.00,32.18,0,"3,654","17,842",12.25,0,"1,166",184,21,69,"2,038",2001
2015-07-29,225.00,32.18,0,"2,472","4,471",2.07,0,"1,299",141,0,0,648,2001
2015-07-30,225.00,32.18,0,"2,373","3,482",1.63,0,"1,334",106,0,0,500,2001
2015-07-31,225.00,32.18,0,"4,127","23,967",11.01,0,924,400,90,26,"2,829",2001
2015-08-01,225.00,32.18,0,"2,096","1,224",0.56,0,"1,416",13,9,2,134,2001
2015-08-02,225.00,32.18,0,"2,489","4,832",2.31,0,"1,327",99,3,11,625,2001
2015-08-03,225.00,32.18,0,"1,994",0,0.00,0,"1,440",0,0,0,0,2001
2015-08-04,225.00,32.18,0,"2,263","2,713",1.25,0,"1,363",70,7,0,373,2001
2015-08-05,225.00,32.18,0,"2,981","16,479",9.11,0,"1,272",109,8,51,"1,221",2001
2015-08-06,225.00,32.18,0,"2,157","1,507",0.69,0,"1,388",52,0,0,233,2001
2015-08-07,225.00,32.18,0,"2,821","7,928",3.64,0,"1,213",205,8,14,"1,117",2001
2015-08-08,225.00,32.18,0,"1,997",7,0.00,0,"1,439",1,0,0,4,2001
2015-08-09,225.00,32.18,0,"2,425","3,603",1.66,0,"1,289",142,8,1,640,2001
2015-08-10,225.00,32.18,0,"2,138","1,188",0.55,0,"1,390",50,0,0,211,2001
2015-08-11,225.00,32.18,0,"3,665","17,616",11.97,0,"1,127",219,27,67,"2,050",2001
2015-08-12,225.00,32.18,0,"2,369","3,124",1.49,0,"1,334",94,11,1,481,2001
2015-08-13,225.00,32.18,0,"2,528","4,726",2.19,0,"1,306",108,12,14,665,2001
2015-08-14,225.00,32.18,0,"2,456","3,743",1.80,0,"1,374",39,8,19,427,2001
2015-08-15,225.00,32.18,0,"1,994",0,0.00,0,"1,440",0,0,0,0,2001
2015-08-16,225.00,32.18,0,"2,585","6,543",3.03,0,"1,297",117,17,9,781,2001
2015-08-17,225.00,32.18,0,"2,182","1,611",0.74,0,"1,386",54,0,0,247,2001
2015-08-18,225.00,32.18,0,"1,997",18,0.01,0,"1,439",1,0,0,4,2001
2015-08-19,225.00,32.18,0,"2,118","1,067",0.49,0,"1,397",43,0,0,183,2001
2015-08-20,225.00,32.18,0,"2,966","11,010",9.19,0,"1,292",73,22,53,"1,158",2001
2015-08-21,225.00,32.18,0,"2,949","10,661",18.72,0,"1,334",35,5,66,"1,104",2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-23,224.00,32.03,0,"2,595","18,692",8.58,0,"1,059",381,0,0,"1,132",2001
2015-05-24,224.00,32.03,0,"2,692","6,748",4.22,0,"1,338",74,0,28,796,2001
2015-05-25,224.00,32.03,0,"2,072",704,0.32,0,"1,411",29,0,0,122,2001
2015-05-26,224.24,32.07,0,"3,297","14,092",8.00,0,"1,253",105,13,69,"1,563",2001
2015-05-27,224.49,32.10,0,"3,994","22,860",11.95,0,"1,140",161,11,128,"2,401",2001
2015-05-28,224.74,32.14,0,"3,220","13,545",7.47,0,"1,215",164,13,48,"1,538",2001
2015-05-29,225.00,32.18,0,"3,172","12,256",6.71,0,"1,238",149,5,48,"1,407",2001
2015-05-30,225.00,32.18,0,"3,835","20,426",11.71,0,"1,164",165,25,86,"2,225",2001
2015-05-31,225.00,32.18,0,"3,209","12,373",7.51,0,"1,283",92,2,63,"1,386",2001
2015-06-01,225.00,32.18,0,"4,141","25,232",13.54,0,"1,169",145,5,121,"2,522",2001
2015-06-02,225.00,32.18,0,"2,612","6,027",2.78,0,"1,276",164,0,0,820,2001
2015-06-03,225.00,32.18,0,"2,945","9,988",4.61,0,"1,225",193,11,11,"1,201",2001
2015-06-04,225.00,32.18,0,"3,439","15,729",8.36,0,"1,160",218,10,52,"1,822",2001
2015-06-05,225.00,32.18,0,"3,841","21,238",10.86,0,"1,118",201,14,107,"2,293",2001
2015-06-06,225.00,32.18,0,"3,227","13,242",7.13,0,"1,205",177,12,46,"1,558",2001
2015-06-07,225.00,32.18,0,"2,275","2,715",1.25,0,"1,370",70,0,0,355,2001
2015-06-08,225.00,32.18,0,"2,673","5,885",2.92,0,"1,289",91,44,16,887,2001
2015-06-09,225.00,32.18,0,"3,296","13,463",8.01,0,"1,250",119,1,70,"1,563",2001
2015-06-10,225.00,32.18,0,"2,748","8,022",3.72,0,"1,291",124,5,20,904,2001
2015-06-11,225.00,32.18,0,"2,914","9,665",4.46,0,"1,243",172,5,20,"1,134",2001
2015-06-12,225.00,32.18,0,"3,003","10,370",4.79,0,"1,192",225,2,21,"1,323",2001
2015-06-13,225.00,32.18,0,"2,465","4,597",2.12,0,"1,303",106,30,1,643,2001
2015-06-14,225.00,32.18,0,"2,281","2,388",1.10,0,"1,365",64,8,3,349,2001
2015-06-15,225.00,32.18,0,"2,128","1,110",0.51,0,"1,397",43,0,0,186,2001
2015-06-16,225.00,32.18,0,"2,348","3,029",1.39,0,"1,351",80,8,1,424,2001
2015-06-17,225.00,32.18,0,"3,008","12,696",6.43,0,"1,274",114,5,47,"1,244",2001
2015-06-18,225.00,32.18,0,"3,170","12,640",6.84,0,"1,243",143,6,48,"1,411",2001
2015-06-19,225.00,32.18,0,"2,942","10,626",4.94,0,"1,227",188,5,20,"1,218",2001
2015-06-20,225.00,32.18,0,"2,230","2,032",0.94,0,"1,365",75,0,0,330,2001
2015-06-21,225.00,32.18,0,"2,447","3,869",1.78,0,"1,312",116,12,0,585,2001

In [110]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_2 = pd.DataFrame()
for f in glob.glob('2002*'):
            df = pd.ExcelFile(f)
            all_body_data_2 = all_body_data_2.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_2 = pd.DataFrame()
for f in glob.glob('2002*'):
            df = pd.ExcelFile(f)
            all_activities_data_2 = all_activities_data_2.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets             
p2002=pd.concat([all_body_data_2,all_activities_data_2],axis=1)

#Adds patient ID column
p2002['studyID']=2002
p2002

,Weight,BMI,Fat,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,studyID
Date,,,,,,,,,,,,,
2015-12-29,213.6,34.33,0.0,"2,063","4,658",2.01,0.0,"1,299",132.0,8.0,1.0,562,2002
2015-12-30,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2015-12-31,213.6,34.33,0.0,"2,041","3,938",1.72,0.0,"1,284",156.0,0.0,0.0,556,2002
2016-01-01,213.6,34.33,0.0,"1,984","3,681",1.59,0.0,"1,325",103.0,12.0,0.0,451,2002
2016-01-02,213.6,34.33,0.0,"2,159","5,530",2.41,0.0,"1,279",149.0,11.0,1.0,646,2002
2016-01-03,213.6,34.33,0.0,"1,962","2,746",1.18,0.0,"1,332",108.0,0.0,0.0,389,2002
2016-01-04,213.6,34.33,0.0,"1,915","2,728",1.18,0.0,"1,344",96.0,0.0,0.0,362,2002
2016-01-05,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-06,213.6,34.33,0.0,"2,435","10,652",4.74,0.0,"1,260",110.0,12.0,58.0,978,2002
2016-01-07,213.6,34.33,0.0,"2,636","14,003",6.19,0.0,"1,241",109.0,25.0,65.0,"1,201",2002
2016-01-08,213.6,34.33,0.0,"2,266","7,501",3.24,0.0,"1,251",179.0,4.0,6.0,820,2002
2016-01-09,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-10,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-11,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-12,213.6,34.33,0.0,"2,022","5,064",2.20,0.0,"1,358",46.0,10.0,26.0,452,2002
2016-01-13,213.6,34.33,0.0,"1,885","2,384",1.03,0.0,"1,356",84.0,0.0,0.0,318,2002
2016-01-14,213.6,34.33,0.0,"2,369","8,298",3.60,0.0,"1,214",193.0,17.0,16.0,948,2002
2016-01-15,213.6,34.33,0.0,"2,092","4,757",2.06,0.0,"1,304",136.0,0.0,0.0,555,2002
2016-01-16,213.6,34.33,0.0,"2,236","6,138",2.73,0.0,"1,237",203.0,0.0,0.0,795,2002
2016-01-17,213.6,34.33,0.0,"2,040","3,873",1.68,0.0,"1,295",145.0,0.0,0.0,536,2002
2016-01-18,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-19,213.6,34.33,0.0,"2,235","7,215",3.13,0.0,"1,277",155.0,3.0,5.0,751,2002
2016-01-20,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-01-21,213.6,34.33,0.0,"2,215","6,452",2.79,0.0,"1,260",161.0,7.0,12.0,758,2002
2016-01-22,213.6,34.33,0.0,"2,136","5,409",2.33,0.0,"1,280",150.0,1.0,9.0,651,2002
2016-01-23,213.6,34.33,0.0,"2,312","7,123",3.08,0.0,"1,217",213.0,7.0,3.0,874,2002
2016-01-24,213.6,34.33,0.0,"2,226","6,285",2.71,0.0,"1,232",201.0,7.0,0.0,796,2002
2016-01-25,213.6,34.33,0.0,"2,231","6,564",2.85,0.0,"1,252",167.0,11.0,10.0,782,2002
2016-01-26,213.6,34.33,0.0,"2,305","6,915",2.98,0.0,"1,210",230.0,0.0,0.0,902,2002
2016-01-27,213.6,34.33,0.0,"2,129","5,627",2.46,0.0,"1,302",115.0,14.0,9.0,608,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-03-01,213.6,34.33,0.0,"2,076","4,863",2.10,0.0,"1,310",119.0,3.0,8.0,556,2002
2016-03-02,213.6,34.33,0.0,"2,194","6,047",2.64,0.0,"1,260",180.0,0.0,0.0,730,2002
2016-03-03,213.6,34.33,0.0,"2,195","6,928",2.99,0.0,"1,290",126.0,10.0,14.0,703,2002
2016-03-04,213.6,34.33,0.0,"2,016","3,674",1.59,0.0,"1,296",136.0,8.0,0.0,515,2002
2016-03-05,213.6,34.33,0.0,"2,124","6,054",2.64,0.0,"1,315",125.0,0.0,0.0,603,2002
2016-03-06,213.6,34.33,0.0,"2,056","3,975",1.71,0.0,"1,313",127.0,0.0,0.0,495,2002
2016-03-07,213.6,34.33,0.0,"2,244","6,008",2.59,0.0,"1,228",212.0,0.0,0.0,805,2002
2016-03-08,213.6,34.33,0.0,"2,356","8,832",3.83,0.0,"1,282",136.0,10.0,12.0,806,2002
2016-03-09,213.6,34.33,0.0,"2,053","4,228",1.86,0.0,"1,296",144.0,0.0,0.0,548,2002
2016-03-10,213.6,34.33,0.0,"2,274","7,279",3.16,0.0,"1,242",190.0,4.0,4.0,836,2002
2016-03-11,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-03-12,213.6,34.33,0.0,"1,976","3,225",1.40,0.0,"1,314",126.0,0.0,0.0,456,2002
2016-03-13,213.6,34.33,0.0,"2,127","5,012",2.17,0.0,"1,260",169.0,5.0,6.0,671,2002
2016-03-14,213.6,34.33,0.0,"2,099","4,902",2.12,0.0,"1,280",152.0,8.0,0.0,616,2002
2016-03-15,213.6,34.33,0.0,"2,215","7,335",3.18,0.0,"1,292",114.0,16.0,18.0,721,2002
2016-03-16,213.6,34.33,0.0,"2,170","6,264",2.73,0.0,"1,284",156.0,0.0,0.0,681,2002
2016-03-17,213.6,34.33,0.0,"2,339","8,261",3.59,0.0,"1,242",179.0,11.0,8.0,883,2002
2016-03-18,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-03-19,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-03-20,213.6,34.33,0.0,"1,895","2,760",1.20,0.0,"1,361",79.0,0.0,0.0,322,2002
2016-03-21,213.6,34.33,0.0,"2,377","9,580",4.15,0.0,"1,251",170.0,14.0,5.0,919,2002
2016-03-22,213.6,34.33,0.0,"2,126","5,182",2.32,0.0,"1,306",117.0,4.0,13.0,589,2002
2016-03-23,213.6,34.33,0.0,"2,262","4,377",1.94,0.0,"1,332",42.0,2.0,64.0,723,2002
2016-03-24,213.6,34.33,0.0,"2,288","7,597",3.29,0.0,"1,247",184.0,2.0,7.0,847,2002
2016-03-25,213.6,34.33,0.0,"2,141","6,224",2.69,0.0,"1,309",106.0,4.0,21.0,626,2002
2016-03-26,213.6,34.33,0.0,"1,665",0,0.00,0.0,"1,440",0.0,0.0,0.0,0,2002
2016-03-27,213.6,34.33,0.0,"1,997","3,987",1.73,0.0,"1,342",98.0,0.0,0.0,423,2002
2016-03-28,213.6,34.33,0.0,"2,041","3,925",1.70,0.0,"1,295",145.0,0.0,0.0,540,2002
2016-03-29,213.6,34.33,0.0,"1,897","2,808",1.22,0.0,"1,356",84.0,0.0,0.0,330,2002
2016-03-30,213.6,34.33,0.0,"2,017","4,198",1.82,0.0,"1,316",115.0,9.0,0.0,496,2002

In [113]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_3 = pd.DataFrame()
for f in glob.glob('2003*'):
            df = pd.ExcelFile(f)
            all_body_data_3 = all_body_data_3.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_3 = pd.DataFrame()
for f in glob.glob('2003*'):
            df = pd.ExcelFile(f)
            all_activities_data_3 = all_activities_data_3.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                         
p2003=pd.concat([all_body_data_3,all_activities_data_3],axis=1)

#Adds patient ID column
p2003['studyID']=2003

In [115]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_8 = pd.DataFrame()
for f in glob.glob('2008*'):
            df = pd.ExcelFile(f)
            all_body_data_8 = all_body_data_8.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_8 = pd.DataFrame()
for f in glob.glob('2008*'):
            df = pd.ExcelFile(f)
            all_activities_data_8 = all_activities_data_8.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                     
p2008=pd.concat([all_body_data_8,all_activities_data_8],axis=1)

#Adds patient ID column
p2008['studyID']=2008

In [117]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_10 = pd.DataFrame()
for f in glob.glob('2010*'):
            df = pd.ExcelFile(f)
            all_body_data_10 = all_body_data_10.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_10 = pd.DataFrame()
for f in glob.glob('2010*'):
            df = pd.ExcelFile(f)
            all_activities_data_10 = all_activities_data_10.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                              
p2010=pd.concat([all_body_data_10,all_activities_data_10],axis=1)

#Adds patient ID column
p2010['studyID']=2010

In [119]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_12 = pd.DataFrame()
for f in glob.glob('2012*'):
            df = pd.ExcelFile(f)
            all_body_data_12 = all_body_data_12.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_12 = pd.DataFrame()
for f in glob.glob('2012*'):
            df = pd.ExcelFile(f)
            all_activities_data_12 = all_activities_data_12.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                              
p2012=pd.concat([all_body_data_12,all_activities_data_12],axis=1)

#Adds patient ID column
p2012['studyID']=2012

In [120]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_13= pd.DataFrame()
for f in glob.glob('2013*'):
            df = pd.ExcelFile(f)
            all_body_data_13 = all_body_data_13.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_13 = pd.DataFrame()
for f in glob.glob('2013*'):
            df = pd.ExcelFile(f)
            all_activities_data_13 = all_activities_data_13.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                              
p2013=pd.concat([all_body_data_13,all_activities_data_13],axis=1)

#Adds patient ID column
p2013['studyID']=2013

In [121]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_14 = pd.DataFrame()
for f in glob.glob('2014*'):
            df = pd.ExcelFile(f)
            all_body_data_14 = all_body_data_14.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_14 = pd.DataFrame()
for f in glob.glob('2014*'):
            df = pd.ExcelFile(f)
            all_activities_data_14 = all_activities_data_14.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                              
p2014=pd.concat([all_body_data_14,all_activities_data_14], axis=1)

#Adds patient ID column
p2014['studyID']=2014

In [123]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_17 = pd.DataFrame()
for f in glob.glob('2017*'):
            df = pd.ExcelFile(f)
            all_body_data_17 = all_body_data_17.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_17 = pd.DataFrame()
for f in glob.glob('2017*'):
            df = pd.ExcelFile(f)
            all_activities_data_17 = all_activities_data_17.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                          
p2017=pd.concat([all_body_data_17,all_activities_data_17],axis=1)

#Adds patient ID column
p2017['studyID']=2017

In [124]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_20 = pd.DataFrame()
for f in glob.glob('2020*'):
            df = pd.ExcelFile(f)
            all_body_data_20 = all_body_data_20.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet            
all_activities_data_20 = pd.DataFrame()
for f in glob.glob('2020*'):
            df = pd.ExcelFile(f)
            all_activities_data_20 = all_activities_data_20.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                          
p2020=pd.concat([all_body_data_20,all_activities_data_20],axis=1)

#Adds patient ID column
p2020['studyID']=2020

In [125]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_21 = pd.DataFrame()
for f in glob.glob('2021*'):
            df = pd.ExcelFile(f)
            all_body_data_21 = all_body_data_21.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                        
all_activities_data_21 = pd.DataFrame()
for f in glob.glob('2021*'):
            df = pd.ExcelFile(f)
            all_activities_data_21 = all_activities_data_21.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                      
p2021=pd.concat([all_body_data_21,all_activities_data_21],axis=1)

#Adds patient ID column
p2021['studyID']=2021

In [126]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_22 = pd.DataFrame()
for f in glob.glob('2022*'):
            df = pd.ExcelFile(f)
            all_body_data_22 = all_body_data_22.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                    
all_activities_data_22 = pd.DataFrame()
for f in glob.glob('2022*'):
            df = pd.ExcelFile(f)
            all_activities_data_22 = all_activities_data_22.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                 
p2022=pd.concat([all_body_data_22,all_activities_data_22],axis=1)

#Adds patient ID column
p2022['studyID']=2022

In [128]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_23 = pd.DataFrame()
for f in glob.glob('2023*'):
            df = pd.ExcelFile(f)
            all_body_data_23 = all_body_data_23.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                
all_activities_data_23 = pd.DataFrame()
for f in glob.glob('2023*'):
            df = pd.ExcelFile(f)
            all_activities_data_23 = all_activities_data_23.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                             
p2023=pd.concat([all_body_data_23,all_activities_data_23],axis=1)

#Adds patient ID column
p2023['studyID']=2023

In [129]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_24 = pd.DataFrame()
for f in glob.glob('2024*'):
            df = pd.ExcelFile(f)
            all_body_data_24 = all_body_data_24.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                
all_activities_data_24 = pd.DataFrame()
for f in glob.glob('2024*'):
            df = pd.ExcelFile(f)
            all_activities_data_24 = all_activities_data_24.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                             
p2024=pd.concat([all_body_data_24,all_activities_data_24],axis=1)

#Adds patient ID column
p2024['studyID']=2024

In [130]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_25 = pd.DataFrame()
for f in glob.glob('2025*'):
            df = pd.ExcelFile(f)
            all_body_data_25 = all_body_data_25.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                            
all_activities_data_25 = pd.DataFrame()
for f in glob.glob('2025*'):
            df = pd.ExcelFile(f)
            all_activities_data_25 = all_activities_data_25.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                         
p2025=pd.concat([all_body_data_25,all_activities_data_25],axis=1)

#Adds patient ID column
p2025['studyID']=2025

In [132]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_26 = pd.DataFrame()
for f in glob.glob('2026*'):
            df = pd.ExcelFile(f)
            all_body_data_26 = all_body_data_26.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                            
all_activities_data_26 = pd.DataFrame()
for f in glob.glob('2026*'):
            df = pd.ExcelFile(f)
            all_activities_data_26 = all_activities_data_26.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                     
p2026=pd.concat([all_body_data_26,all_activities_data_26],axis=1)

#Adds patient ID column
p2026['studyID']=2026

In [133]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_27 = pd.DataFrame()
for f in glob.glob('2027*'):
            df = pd.ExcelFile(f)
            all_body_data_27 = all_body_data_27.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                        
all_activities_data_27 = pd.DataFrame()
for f in glob.glob('2027*'):
            df = pd.ExcelFile(f)
            all_activities_data_27 = all_activities_data_27.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                 
p2027=pd.concat([all_body_data_27,all_activities_data_27],axis=1)

#Adds patient ID column
p2027['studyID']=2027

In [134]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_28 = pd.DataFrame()
for f in glob.glob('2028*'):
            df = pd.ExcelFile(f)
            all_body_data_28 = all_body_data_28.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                        
all_activities_data_28 = pd.DataFrame()
for f in glob.glob('2028*'):
            df = pd.ExcelFile(f)
            all_activities_data_28 = all_activities_data_28.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                             
p2028=pd.concat([all_body_data_28,all_activities_data_28],axis=1)

#Adds patient ID column
p2028['studyID']=2028

In [135]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_29 = pd.DataFrame()
for f in glob.glob('2029*'):
            df = pd.ExcelFile(f)
            all_body_data_29 = all_body_data_29.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                    
all_activities_data_29 = pd.DataFrame()
for f in glob.glob('2029*'):
            df = pd.ExcelFile(f)
            all_activities_data_29 = all_activities_data_29.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                         
p2029=pd.concat([all_body_data_29,all_activities_data_29],axis=1)

#Adds patient ID column
p2029['studyID']=2029

In [136]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_31 = pd.DataFrame()
for f in glob.glob('2031*'):
            df = pd.ExcelFile(f)
            all_body_data_31 = all_body_data_31.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                    
all_activities_data_31 = pd.DataFrame()
for f in glob.glob('2031*'):
            df = pd.ExcelFile(f)
            all_activities_data_31 = all_activities_data_31.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                         
p2031=pd.concat([all_body_data_31,all_activities_data_31],axis=1)

#Adds patient ID column
p2031['studyID']=2031

In [137]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_35 = pd.DataFrame()
for f in glob.glob('2035*'):
            df = pd.ExcelFile(f)
            all_body_data_35 = all_body_data_35.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_35 = pd.DataFrame()
for f in glob.glob('2035*'):
            df = pd.ExcelFile(f)
            all_activities_data_35 = all_activities_data_35.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                         
p2035=pd.concat([all_body_data_35,all_activities_data_35],axis=1)

#Adds patient ID column
p2035['studyID']=2035

In [138]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_37 = pd.DataFrame()
for f in glob.glob('2037*'):
            df = pd.ExcelFile(f)
            all_body_data_37 = all_body_data_37.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_37 = pd.DataFrame()
for f in glob.glob('2037*'):
            df = pd.ExcelFile(f)
            all_activities_data_37 = all_activities_data_37.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                         
p2037=pd.concat([all_body_data_37,all_activities_data_37],axis=1)

#Adds patient ID column
p2037['studyID']=2037

In [139]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_41 = pd.DataFrame()
for f in glob.glob('2041*'):
            df = pd.ExcelFile(f)
            all_body_data_41 = all_body_data_41.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_41 = pd.DataFrame()
for f in glob.glob('2041*'):
            df = pd.ExcelFile(f)
            all_activities_data_41 = all_activities_data_41.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                     
p2041=pd.concat([all_body_data_41,all_activities_data_41],axis=1)

#Adds patient ID column
p2041['studyID']=2041

In [140]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_43 = pd.DataFrame()
for f in glob.glob('2043*'):
            df = pd.ExcelFile(f)
            all_body_data_43 = all_body_data_43.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_43 = pd.DataFrame()
for f in glob.glob('2043*'):
            df = pd.ExcelFile(f)
            all_activities_data_43 = all_activities_data_43.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                 
p2043=pd.concat([all_body_data_43,all_activities_data_43],axis=1)

#Adds patient ID column
p2043['studyID']=2043

In [141]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_44 = pd.DataFrame()
for f in glob.glob('2044*'):
            df = pd.ExcelFile(f)
            all_body_data_44 = all_body_data_44.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_44 = pd.DataFrame()
for f in glob.glob('2044*'):
            df = pd.ExcelFile(f)
            all_activities_data_44 = all_activities_data_44.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                 
p2044=pd.concat([all_body_data_44,all_activities_data_44],axis=1)

#Adds patient ID column
p2044['studyID']=2044

In [142]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_45 = pd.DataFrame()
for f in glob.glob('2045*'):
            df = pd.ExcelFile(f)
            all_body_data_45 = all_body_data_45.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_45 = pd.DataFrame()
for f in glob.glob('2045*'):
            df = pd.ExcelFile(f)
            all_activities_data_45 = all_activities_data_45.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                 
p2045=pd.concat([all_body_data_45,all_activities_data_45],axis=1)

#Adds patient ID column
p2045['studyID']=2045

In [143]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_46 = pd.DataFrame()
for f in glob.glob('2046*'):
            df = pd.ExcelFile(f)
            all_body_data_46 = all_body_data_46.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_46 = pd.DataFrame()
for f in glob.glob('2046*'):
            df = pd.ExcelFile(f)
            all_activities_data_46 = all_activities_data_46.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                             
p2046=pd.concat([all_body_data_46,all_activities_data_46],axis=1)

#Adds patient ID column
p2046['studyID']=2046

In [144]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_50 = pd.DataFrame()
for f in glob.glob('2050*'):
            df = pd.ExcelFile(f)
            all_body_data_50 = all_body_data_50.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                
all_activities_data_50 = pd.DataFrame()
for f in glob.glob('2050*'):
            df = pd.ExcelFile(f)
            all_activities_data_50 = all_activities_data_50.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                             
p2050=pd.concat([all_body_data_50,all_activities_data_50],axis=1)

#Adds patient ID column
p2050['studyID']=2050

In [145]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_54 = pd.DataFrame()
for f in glob.glob('2054*'):
            df = pd.ExcelFile(f)
            all_body_data_54 = all_body_data_54.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                            
all_activities_data_54 = pd.DataFrame()
for f in glob.glob('2054*'):
            df = pd.ExcelFile(f)
            all_activities_data_54 = all_activities_data_54.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                       
p2054=pd.concat([all_body_data_54,all_activities_data_54],axis=1)

#Adds patient ID column
p2054['studyID']=2054

In [146]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_55 = pd.DataFrame()
for f in glob.glob('2055*'):
            df = pd.ExcelFile(f)
            all_body_data_55 = all_body_data_55.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                       
all_activities_data_55 = pd.DataFrame()
for f in glob.glob('2055*'):
            df = pd.ExcelFile(f)
            all_activities_data_55 = all_activities_data_55.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                       
p2055=pd.concat([all_body_data_55,all_activities_data_55],axis=1)

#Adds patient ID column
p2055['studyID']=2055

In [147]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_56 = pd.DataFrame()
for f in glob.glob('2056*'):
            df = pd.ExcelFile(f)
            all_body_data_56 = all_body_data_56.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                       
all_activities_data_56 = pd.DataFrame()
for f in glob.glob('2056*'):
            df = pd.ExcelFile(f)
            all_activities_data_56 = all_activities_data_56.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                       
p2056=pd.concat([all_body_data_56,all_activities_data_56],axis=1)

#Adds patient ID column
p2056['studyID']=2056

In [148]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_57 = pd.DataFrame()
for f in glob.glob('2057*'):
            df = pd.ExcelFile(f)
            all_body_data_57 = all_body_data_57.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                       
all_activities_data_57 = pd.DataFrame()
for f in glob.glob('2057*'):
            df = pd.ExcelFile(f)
            all_activities_data_57 = all_activities_data_57.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                       
p2057=pd.concat([all_body_data_57,all_activities_data_57],axis=1)

#Adds patient ID column
p2057['studyID']=2057

In [149]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_58 = pd.DataFrame()
for f in glob.glob('2058*'):
            df = pd.ExcelFile(f)
            all_body_data_58 = all_body_data_58.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                       
all_activities_data_58 = pd.DataFrame()
for f in glob.glob('2058*'):
            df = pd.ExcelFile(f)
            all_activities_data_58 = all_activities_data_58.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                   
p2058=pd.concat([all_body_data_58,all_activities_data_58],axis=1)

#Adds patient ID column
p2058['studyID']=2058

In [150]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_59 = pd.DataFrame()
for f in glob.glob('2059*'):
            df = pd.ExcelFile(f)
            all_body_data_59 = all_body_data_59.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                       
all_activities_data_59 = pd.DataFrame()
for f in glob.glob('2059*'):
            df = pd.ExcelFile(f)
            all_activities_data_59 = all_activities_data_59.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                              
p2059=pd.concat([all_body_data_59,all_activities_data_59],axis=1)

#Adds patient ID column
p2059['studyID']=2059

In [151]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_60 = pd.DataFrame()
for f in glob.glob('2060*'):
            df = pd.ExcelFile(f)
            all_body_data_60 = all_body_data_60.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                   
all_activities_data_60 = pd.DataFrame()
for f in glob.glob('2060*'):
            df = pd.ExcelFile(f)
            all_activities_data_60 = all_activities_data_60.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                        
p2060=pd.concat([all_body_data_60,all_activities_data_60],axis=1)

#Adds patient ID column
p2060['studyID']=2060

In [152]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_63 = pd.DataFrame()
for f in glob.glob('2063*'):
            df = pd.ExcelFile(f)
            all_body_data_63 = all_body_data_63.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                             
all_activities_data_63 = pd.DataFrame()
for f in glob.glob('2063*'):
            df = pd.ExcelFile(f)
            all_activities_data_63 = all_activities_data_63.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                    
p2063=pd.concat([all_body_data_63,all_activities_data_63],axis=1)

#Adds patient ID column
p2063['studyID']=2063

In [153]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_67 = pd.DataFrame()
for f in glob.glob('2067*'):
            df = pd.ExcelFile(f)
            all_body_data_67 = all_body_data_67.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                             
all_activities_data_67 = pd.DataFrame()
for f in glob.glob('2067*'):
            df = pd.ExcelFile(f)
            all_activities_data_67 = all_activities_data_67.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                               
p2067=pd.concat([all_body_data_67,all_activities_data_67],axis=1)

#Adds patient ID column
p2067['studyID']=2067

In [154]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_69 = pd.DataFrame()
for f in glob.glob('2069*'):
            df = pd.ExcelFile(f)
            all_body_data_69 = all_body_data_69.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                         
all_activities_data_69 = pd.DataFrame()
for f in glob.glob('2069*'):
            df = pd.ExcelFile(f)
            all_activities_data_69 = all_activities_data_69.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                          
p2069=pd.concat([all_body_data_69,all_activities_data_69],axis=1)

#Adds patient ID column
p2069['studyID']=2069

In [155]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_70 = pd.DataFrame()
for f in glob.glob('2070*'):
            df = pd.ExcelFile(f)
            all_body_data_70 = all_body_data_70.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                     
all_activities_data_70 = pd.DataFrame()
for f in glob.glob('2070*'):
            df = pd.ExcelFile(f)
            all_activities_data_70 = all_activities_data_70.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2070=pd.concat([all_body_data_70,all_activities_data_70],axis=1)

#Adds patient ID column
p2070['studyID']=2070

In [157]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_71 = pd.DataFrame()
for f in glob.glob('2071*'):
            df = pd.ExcelFile(f)
            all_body_data_71 = all_body_data_71.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_71 = pd.DataFrame()
for f in glob.glob('2071*'):
            df = pd.ExcelFile(f)
            all_activities_data_71 = all_activities_data_71.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2071=pd.concat([all_body_data_71,all_activities_data_71],axis=1)

#Adds patient ID column
p2071['studyID']=2071

In [158]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_74 = pd.DataFrame()
for f in glob.glob('2074*'):
            df = pd.ExcelFile(f)
            all_body_data_74 = all_body_data_74.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_74 = pd.DataFrame()
for f in glob.glob('2074*'):
            df = pd.ExcelFile(f)
            all_activities_data_74 = all_activities_data_74.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2074=pd.concat([all_body_data_74,all_activities_data_74],axis=1)

#Adds patient ID column
p2074['studyID']=2074

In [159]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_75 = pd.DataFrame()
for f in glob.glob('2075*'):
            df = pd.ExcelFile(f)
            all_body_data_75 = all_body_data_75.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_75 = pd.DataFrame()
for f in glob.glob('2075*'):
            df = pd.ExcelFile(f)
            all_activities_data_75 = all_activities_data_75.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2075=pd.concat([all_body_data_75,all_activities_data_75],axis=1)

#Adds patient ID column
p2075['studyID']=2075

In [160]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_78 = pd.DataFrame()
for f in glob.glob('2078*'):
            df = pd.ExcelFile(f)
            all_body_data_78 = all_body_data_78.append(df.parse('Body',index_col=0))

#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_78 = pd.DataFrame()
for f in glob.glob('2078*'):
            df = pd.ExcelFile(f)
            all_activities_data_78 = all_activities_data_78.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2078=pd.concat([all_body_data_78,all_activities_data_78],axis=1)

#Adds patient ID column
p2078['studyID']=2078

In [161]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_81 = pd.DataFrame()
for f in glob.glob('2081*'):
            df = pd.ExcelFile(f)
            all_body_data_81 = all_body_data_81.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_81 = pd.DataFrame()
for f in glob.glob('2081*'):
            df = pd.ExcelFile(f)
            all_activities_data_81 = all_activities_data_81.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2081=pd.concat([all_body_data_81,all_activities_data_81],axis=1)

#Adds patient ID column
p2081['studyID']=2081

In [162]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_82 = pd.DataFrame()
for f in glob.glob('2082*'):
            df = pd.ExcelFile(f)
            all_body_data_82 = all_body_data_82.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_82 = pd.DataFrame()
for f in glob.glob('2082*'):
            df = pd.ExcelFile(f)
            all_activities_data_82 = all_activities_data_82.append(df.parse('Activities',index_col=0))

#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2082=pd.concat([all_body_data_82,all_activities_data_82],axis=1)

#Adds patient ID column
p2082['studyID']=2082

In [163]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_83 = pd.DataFrame()
for f in glob.glob('2083*'):
            df = pd.ExcelFile(f)
            all_body_data_83 = all_body_data_83.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_83 = pd.DataFrame()
for f in glob.glob('2083*'):
            df = pd.ExcelFile(f)
            all_activities_data_83 = all_activities_data_83.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2083=pd.concat([all_body_data_83,all_activities_data_83],axis=1)

#Adds patient ID column
p2083['studyID']=2083

In [164]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_84 = pd.DataFrame()
for f in glob.glob('2084*'):
            df = pd.ExcelFile(f)
            all_body_data_84 = all_body_data_84.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_84 = pd.DataFrame()
for f in glob.glob('2084*'):
            df = pd.ExcelFile(f)
            all_activities_data_84 = all_activities_data_84.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2084=pd.concat([all_body_data_84,all_activities_data_84],axis=1)

#Adds patient ID column
p2084['studyID']=2084

In [165]:
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Body' sheet
all_body_data_85 = pd.DataFrame()
for f in glob.glob('2085*'):
            df = pd.ExcelFile(f)
            all_body_data_85 = all_body_data_85.append(df.parse('Body',index_col=0))
            
#Imports all step_count Excel files for a given subject and appends all 18 months of data for the 'Activities' sheet                                                                                                                                                                                 
all_activities_data_85 = pd.DataFrame()
for f in glob.glob('2085*'):
            df = pd.ExcelFile(f)
            all_activities_data_85 = all_activities_data_85.append(df.parse('Activities',index_col=0))
            
#Concatenates all 18 months of subject data for 'Body' and 'Activities' sheets                                                                                                                                                                                                                                                                                      
p2085=pd.concat([all_body_data_85,all_activities_data_85],axis=1)

#Adds patient ID column
p2085['studyID']=2085

In [166]:
#Brings all dataframes to one large dataframe with all subjects
dataframes = [p2001,p2002,p2003,p2008,p2010,p2012,p2013,p2014,p2017,p2020,p2020,p2021,p2022,p2023,p2024,p2025,p2026,p2027,p2028,p2029,p2031,p2035,p2037,p2041,p2043,p2044,p2045,p2046,p2050,p2054,p2055,p2056,p2057,p2058,p2059,p2060,p2063,p2067,p2069,p2070,p2071,p2074,p2075,p2078,p2081,p2082,p2083,p2084,p2085]

In [167]:
#Creates Pandas dataframe and labels is df
df=pd.DataFrame()

In [190]:
#Creates column label "Date" and sets the dataframe index to be "studyID"
df=pd.DataFrame()
for dataframe in dataframes:
    df=df.append(dataframe)
df['Date'] = list(df.index)
df = df.set_index("studyID")
df

,Weight,BMI,Fat,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Date
studyID,,,,,,,,,,,,,
2001,225.00,32.18,0.0,"2,902","9,865",4.55,0.0,"1,234",194.0,2.0,10,"1,170",2015-07-23
2001,225.00,32.18,0.0,"2,637","6,695",3.12,0.0,"1,267",164.0,7.0,2,875,2015-07-24
2001,225.00,32.18,0.0,"2,508","5,311",2.44,0.0,"1,300",140.0,0.0,0,696,2015-07-25
2001,225.00,32.18,0.0,"2,222","2,176",1.00,0.0,"1,368",72.0,0.0,0,327,2015-07-26
2001,225.00,32.18,0.0,"3,491","16,141",10.72,0.0,"1,265",75.0,11.0,89,"1,721",2015-07-27
2001,225.00,32.18,0.0,"3,654","17,842",12.25,0.0,"1,166",184.0,21.0,69,"2,038",2015-07-28
2001,225.00,32.18,0.0,"2,472","4,471",2.07,0.0,"1,299",141.0,0.0,0,648,2015-07-29
2001,225.00,32.18,0.0,"2,373","3,482",1.63,0.0,"1,334",106.0,0.0,0,500,2015-07-30
2001,225.00,32.18,0.0,"4,127","23,967",11.01,0.0,924,400.0,90.0,26,"2,829",2015-07-31
2001,225.00,32.18,0.0,"2,096","1,224",0.56,0.0,"1,416",13.0,9.0,2,134,2015-08-01
2001,225.00,32.18,0.0,"2,489","4,832",2.31,0.0,"1,327",99.0,3.0,11,625,2015-08-02
2001,225.00,32.18,0.0,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0,2015-08-03
2001,225.00,32.18,0.0,"2,263","2,713",1.25,0.0,"1,363",70.0,7.0,0,373,2015-08-04
2001,225.00,32.18,0.0,"2,981","16,479",9.11,0.0,"1,272",109.0,8.0,51,"1,221",2015-08-05
2001,225.00,32.18,0.0,"2,157","1,507",0.69,0.0,"1,388",52.0,0.0,0,233,2015-08-06
2001,225.00,32.18,0.0,"2,821","7,928",3.64,0.0,"1,213",205.0,8.0,14,"1,117",2015-08-07
2001,225.00,32.18,0.0,"1,997",7,0.00,0.0,"1,439",1.0,0.0,0,4,2015-08-08
2001,225.00,32.18,0.0,"2,425","3,603",1.66,0.0,"1,289",142.0,8.0,1,640,2015-08-09
2001,225.00,32.18,0.0,"2,138","1,188",0.55,0.0,"1,390",50.0,0.0,0,211,2015-08-10
2001,225.00,32.18,0.0,"3,665","17,616",11.97,0.0,"1,127",219.0,27.0,67,"2,050",2015-08-11
2001,225.00,32.18,0.0,"2,369","3,124",1.49,0.0,"1,334",94.0,11.0,1,481,2015-08-12
2001,225.00,32.18,0.0,"2,528","4,726",2.19,0.0,"1,306",108.0,12.0,14,665,2015-08-13
2001,225.00,32.18,0.0,"2,456","3,743",1.80,0.0,"1,374",39.0,8.0,19,427,2015-08-14
2001,225.00,32.18,0.0,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0,2015-08-15
2001,225.00,32.18,0.0,"2,585","6,543",3.03,0.0,"1,297",117.0,17.0,9,781,2015-08-16
2001,225.00,32.18,0.0,"2,182","1,611",0.74,0.0,"1,386",54.0,0.0,0,247,2015-08-17
2001,225.00,32.18,0.0,"1,997",18,0.01,0.0,"1,439",1.0,0.0,0,4,2015-08-18
2001,225.00,32.18,0.0,"2,118","1,067",0.49,0.0,"1,397",43.0,0.0,0,183,2015-08-19
2001,225.00,32.18,0.0,"2,966","11,010",9.19,0.0,"1,292",73.0,22.0,53,"1,158",2015-08-20
2001,225.00,32.18,0.0,"2,949","10,661",18.72,0.0,"1,334",35.0,5.0,66,"1,104",2015-08-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,150.58,25.06,0.0,"2,064","7,996",3.64,0.0,"1,208",203.0,8.0,21,837,2016-01-09
2085,150.87,25.11,0.0,"3,661","32,943",16.63,0.0,"1,023",222.0,29.0,166,"2,622",2016-01-10
2085,151.16,25.15,0.0,"2,025","8,127",3.61,0.0,"1,236",162.0,8.0,34,792,2016-01-11
2085,151.45,25.20,0.0,"2,189","10,401",4.78,0.0,"1,206",196.0,5.0,33,962,2016-01-12
2085,151.74,25.25,0.0,"2,330","13,278",5.80,0.0,"1,162",207.0,30.0,41,"1,155",2016-01-13
2085,152.03,25.30,0.0,"2,164","9,804",4.34,0.0,"1,154",261.0,15.0,10,"1,008",2016-01-14
2085,152.32,25.35,0.0,"1,824","4,820",2.06,0.0,"1,283",148.0,4.0,5,525,2016-01-15
2085,152.61,25.40,0.0,"1,839","4,397",1.87,0.0,"1,243",197.0,0.0,0,592,2016-01-16
2085,152.91,25.45,0.0,"2,064","7,882",3.36,0.0,"1,172",248.0,10.0,10,893,2016-01-17
2085,153.20,25.49,0.0,"2,480","14,420",6.80,0.0,"1,138",222.0,17.0,63,"1,312",2016-01-18
2085,153.49,25.54,0.0,"2,176","9,165",4.16,0.0,"1,174",246.0,9.0,11,952,2016-01-19
2085,153.78,25.59,0.0,"2,092","9,173",4.31,0.0,"1,253",154.0,5.0,28,822,2016-01-20
2085,154.07,25.64,0.0,"2,209","10,390",4.86,0.0,"1,206",185.0,13.0,36,970,2016-01-21
2085,154.36,25.69,0.0,"2,474","14,497",6.77,0.0,"1,147",210.0,21.0,62,"1,292",2016-01-22
2085,154.65,25.74,0.0,"2,161","8,552",3.64,0.0,"1,135",282.0,11.0,12,994,2016-01-23
2085,154.94,25.78,0.0,"2,239","10,988",4.91,0.0,"1,184",193.0,20.0,43,"1,030",2016-01-24
2085,155.23,25.83,0.0,"2,786","18,149",8.99,0.0,"1,107",230.0,20.0,83,"1,611",2016-01-25
2085,155.52,25.88,0.0,"2,132","9,556",4.52,0.0,"1,214",179.0,11.0,36,920,2016-01-26
2085,155.82,25.93,0.0,"2,600","17,229",8.02,0.0,"1,126",222.0,26.0,66,"1,461",2016-01-27
2085,156.11,25.98,0.0,"2,219","10,068",4.73,0.0,"1,163",237.0,7.0,33,"1,047",2016-01-28
2085,156.40,26.03,0.0,"1,815","4,372",1.86,0.0,"1,269",162.0,8.0,1,539,2016-01-29
2085,156.69,26.07,0.0,"2,666","18,662",8.11,0.0,"1,032",319.0,49.0,40,"1,636",2016-01-30
2085,157.00,26.13,0.0,"2,096","9,148",4.06,0.0,"1,230",147.0,25.0,38,854,2016-01-31
2085,157.10,26.14,0.0,"2,267","11,212",5.30,0.0,"1,164",238.0,6.0,32,"1,102",2016-02-01
2085,157.20,26.16,0.0,"2,552","15,332",7.20,0.0,"1,086",307.0,8.0,39,"1,465",2016-02-02
2085,157.29,26.18,0.0,"2,747","19,767",9.08,0.0,"1,097",235.0,20.0,88,"1,643",2016-02-03
2085,157.39,26.19,0.0,"2,469","14,939",6.43,0.0,"1,098",291.0,7.0,44,"1,367",2016-02-04
2085,157.49,26.21,0.0,"2,466","14,995",6.96,0.0,"1,178",192.0,12.0,58,"1,243",2016-02-05
2085,157.59,26.23,0.0,"2,257","9,854",4.19,0.0,"1,126",292.0,13.0,9,"1,079",2016-02-06
2085,157.69,26.24,0.0,"1,849","3,932",1.67,0.0,"1,240",200.0,0.0,0,585,2016-02-07

In [191]:
df.columns

Index(['Weight', 'BMI', 'Fat', 'Calories Burned', 'Steps', 'Distance',
       'Floors', 'Minutes Sedentary', 'Minutes Lightly Active',
       'Minutes Fairly Active', 'Minutes Very Active', 'Activity Calories',
       'Date'],
      dtype='object')

In [89]:
#Import Pandas and NumPy packages
import pandas as pd
import numpy as np

#Map directory to get Gene Expression data
import os
cwd = os.getcwd()
cwd
os.chdir("/Users/ibergeland/Desktop/capstone/gene expression data files/")

#Imports Gene Expression data (counts file)
counts = pd.read_csv('counts.csv', index_col = 0)

#Transposes rows into columns to make "studyID" as the dataframe index
gene_counts = counts.transpose()
gene_counts['studyID'] = list(counts)
gene_counts_df = gene_counts.set_index("studyID")
gene_counts_df

,N_unmapped,N_multimapping,N_noFeature,N_ambiguous,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,...,ENSG00000198886.2,ENSG00000210176.1,ENSG00000210184.1,ENSG00000210191.1,ENSG00000198786.2,ENSG00000198695.2,ENSG00000210194.1,ENSG00000198727.2,ENSG00000210195.2,ENSG00000210196.2
studyID,,,,,,,,,,,,,,,,,,,,,
2001-01,95042,331030,738005,41938,0,0,0,0,0,0,...,1557,0,4,1,225,249,8,927,0,25
2001-02,68220,334819,867184,45447,0,0,0,0,0,0,...,1538,0,1,3,276,156,7,1153,4,17
2001-03,61019,380826,626817,40987,0,0,0,0,0,0,...,1258,3,0,2,173,83,4,698,1,18
2002-01,70551,364487,808822,37888,0,0,0,0,0,0,...,702,1,1,0,122,68,2,456,2,19
2002-02,46086,212680,492655,26394,0,0,0,0,0,0,...,527,0,0,2,99,44,0,312,0,10
2002-03,76071,348791,993259,39314,0,0,0,0,0,0,...,668,7,5,11,165,27,4,437,2,16
2003-01,70553,587703,877164,52574,0,0,0,0,0,0,...,1300,4,3,10,320,180,3,824,9,24
2003-02,78081,637444,785730,35956,0,0,0,0,0,0,...,1788,5,5,7,338,171,9,1193,1,24
2003-03,62580,259543,490331,31024,0,0,0,0,0,0,...,1528,1,0,3,217,227,16,886,0,22
2004-01,55659,313890,1396183,17858,1,0,0,0,0,0,...,581,0,0,1,67,37,2,327,0,7
2004-02,71781,404364,543252,35739,0,0,0,0,0,0,...,1925,1,4,1,234,118,3,949,0,23
2004-03,83805,496892,705882,40258,0,0,0,0,0,0,...,1751,1,3,1,300,207,12,809,0,18
2006-01,75613,542751,1159741,49532,0,0,0,0,0,0,...,1960,1,2,5,375,182,3,1556,0,24
2006-02,39715,295346,481029,23861,0,0,0,0,0,0,...,838,2,0,2,143,69,0,618,3,11
2006-03,63197,336954,597701,37757,0,0,0,0,0,0,...,1587,0,1,6,247,124,4,1090,5,25
2008-01,84108,441981,686144,30637,0,0,0,0,0,0,...,1864,2,0,1,332,139,10,1167,7,12
2008-02,72236,577276,939594,41738,0,0,0,0,0,0,...,1512,1,0,2,297,139,12,1173,3,13
2008-03,73898,338365,809936,39346,0,0,0,0,0,0,...,1359,4,1,5,253,162,11,978,4,8
2010-01,78893,388619,878301,36883,0,0,0,0,0,0,...,1577,2,1,2,281,109,8,1050,3,12
2010-02,81353,523765,870679,30288,0,0,0,0,0,0,...,1504,0,1,5,275,93,3,1108,9,14
2010-03,34327,158942,357570,17082,0,0,0,0,0,0,...,814,0,1,0,124,74,5,463,2,3
2012-01,85924,407066,906792,47863,0,0,0,0,0,0,...,1391,9,0,0,299,141,3,1133,0,20
2012-02,64502,386682,870457,38537,0,0,0,0,0,0,...,1036,8,4,2,294,76,6,843,9,19
2012-03,51906,323019,707846,34574,0,0,0,0,0,0,...,1449,2,1,11,288,45,0,1121,2,17
2013-01,83739,464837,702861,58137,0,0,0,0,0,0,...,1238,4,4,8,305,289,4,971,6,36
2013-02,60918,304905,712120,20834,0,0,0,0,0,0,...,674,0,11,6,141,75,1,509,8,16
2013-03,85394,461595,740990,44996,0,0,0,0,0,0,...,1640,1,2,9,277,338,9,1200,6,41
2014-01,94358,496988,2433145,32730,0,0,0,0,0,0,...,587,0,2,1,108,171,8,315,0,17
2014-02,47292,284311,633871,24592,0,0,0,0,0,0,...,741,1,3,3,180,238,4,430,0,17
2014-03,91299,533359,1231378,47234,0,0,0,0,0,0,...,1943,0,1,4,254,389,13,1356,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072-01,90840,565725,1858915,31137,0,0,0,0,0,0,...,964,0,0,3,197,154,7,711,1,9
2072-02,78531,466309,918193,41956,0,3,0,0,0,0,...,1243,3,0,1,280,59,2,994,1,21
2072-03,74074,419379,746597,42358,0,0,0,0,0,0,...,1372,3,0,5,245,136,5,1036,5,16
2074-01,64172,490849,533143,28997,0,0,0,0,0,0,...,943,1,0,13,243,181,13,737,6,43
2074-02,74100,543243,909719,34900,0,0,0,0,0,0,...,1211,0,1,10,278,186,7,803,5,39
2074-03,74042,714298,968002,39036,0,0,0,0,0,0,...,936,2,0,7,218,153,14,770,5,27
2075-01,103528,532458,1226229,54597,0,0,0,0,0,0,...,1348,1,3,5,207,111,5,1198,8,37
2075-02,79891,530044,766901,35746,0,1,0,0,0,0,...,786,3,0,2,156,98,7,694,0,27
2075-03,62478,499344,1053978,28457,0,0,0,0,0,0,...,734,2,1,4,101,48,2,579,2,37
2078-01,68380,402466,1235231,36829,0,0,0,0,0,0,...,1181,0,0,2,226,42,1,713,2,3
2078-02,89172,688705,1362687,56178,0,0,0,0,0,0,...,2196,2,3,8,362,155,5,1402,8,45
2078-03,94801,505957,1119125,45878,0,2,0,0,0,0,...,1734,1,2,4,264,110,3,1244,1,24
2080-01,86649,445156,909391,43879,0,0,0,0,0,0,...,2270,7,5,13,456,197,10,1635,5,64
2080-02,53107,327906,669351,25495,0,1,0,0,0,0,...,1022,2,1,6,171,63,4,763,3,34
2080-03,90691,431474,802853,43529,0,0,0,0,0,0,...,2033,2,4,13,372,161,12,1431,3,50
2081-01,93271,497168,1001907,41445,0,0,0,0,0,0,...,1469,0,2,1,342,284,16,958,13,29
2081-02,104412,534761,1440777,46523,0,0,0,0,0,0,...,1674,0,0,2,383,369,13,1108,5,31
2081-03,93117,622165,1378656,44562,0,0,0,0,0,0,...,1922,0,4,12,464,276,10,1182,7,49
2082-01,68664,510817,1188612,48061,0,1,0,0,0,0,...,1198,1,1,1,209,127,9,992,1,13
2082-02,89892,351552,836140,32036,0,0,0,0,0,0,...,625,2,4,5,180,62,3,610,5,21
2082-03,83261,508763,1085729,49726,0,0,0,0,0,0,...,1537,0,0,5,261,76,2,1318,1,6
2083-01,90302,592186,953655,44232,0,0,0,0,0,0,...,1107,0,4,1,230,123,1,924,5,11
2083-02,125048,707741,1416621,41364,0,0,0,0,0,0,...,898,4,1,7,307,73,3,855,2,38
2083-03,68434,409750,664264,34650,0,0,0,0,0,0,...,1254,0,3,1,195,91,1,910,0,18
2084-01,76911,660545,928151,36592,0,0,0,0,0,0,...,1354,1,0,6,153,94,3,912,3,29
2084-02,89960,878795,1338392,50063,0,0,0,0,0,0,...,1821,2,0,2,265,164,4,1269,8,15
2084-03,78068,559799,1059115,40499,0,0,0,0,0,0,...,1588,2,0,4,297,146,1,1119,1,14
2085-01,95025,655607,882235,40354,0,0,0,0,0,0,...,1571,2,3,6,296,127,3,875,15,27
2085-02,71675,739056,963296,42764,0,0,0,0,0,0,...,1058,3,6,11,236,100,4,774,8,25
2085-03,110694,849236,1614960,31324,0,0,0,0,0,0,...,918,3,3,5,191,132,5,676,13,30

In [17]:
#Import Pandas and NumPy packages
import pandas as pd
import numpy as np

#Map directory to get Anthropometrics data
import os
cwd = os.getcwd()
cwd
os.chdir("/Users/ibergeland/Desktop/capstone/")

#Imports Anthropometrics data from a .csv
anthropometrics=pd.read_csv('anthropometrics.csv')

#Corrects the date to be in the right format
anthropometrics['Date'] =  pd.to_datetime(anthropometrics['Date'], format='%m%d%Y.0')
anthropometrics=anthropometrics.drop(columns='CorrectedDate',axis=1)

#Sets dataframe index to be "studyID"
anthropometrics=anthropometrics.set_index('studyID')

anthropometrics

,Date,Randomization,StudyGroup,raid,StudyVisit,SystolicR1,DiastolicR1,SystolicL1,DiastolicL1,SystolicR2,...,HipCm2,RANotes,RVDate,CorrectedRVDate,RVMissedItems,RVNotes,HeightCm,MeanWtKg,bmi,MeanWaistCm
studyID,,,,,,,,,,,,,,,,,,,,,
2001,2014-11-17,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),137.0,78.0,146.0,92.0,132.0,...,116.0,no strips,12012014,01 Dec 14,Yes,NaN,176.4,115.0,36.957338,114.35
2001,2015-03-03,Yes,Blue,2. 23 Shannon Muramoto,3 Month,137.0,67.0,127.0,71.0,127.0,...,119.0,NaN,12012014,01 Dec 14,Yes,NaN,176.4,102.5,32.940236,101.40
2001,2015-06-02,Yes,Blue,9. 40 Raymond Ma,6 Month,121.0,58.0,133.0,66.0,122.0,...,108.4,NaN,12012014,01 Dec 14,Yes,NaN,176.4,103.7,33.325878,105.90
2003,2014-11-22,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,86.0,121.0,93.0,107.0,...,131.5,no strips,12092014,09 Dec 14,Yes,NaN,162.2,113.9,43.293433,125.20
2003,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,3 Month,108.0,72.0,116.0,81.0,96.0,...,132.6,NaN,12092014,09 Dec 14,Yes,NaN,162.2,115.3,43.825573,121.60
2003,2015-07-22,Yes,Blue,9. 40 Raymond Ma,6 Month,107.0,78.0,117.0,90.0,113.0,...,135.0,NaN,12092014,09 Dec 14,Yes,NaN,162.2,114.7,43.597513,127.80
2007,2015-10-07,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),115.0,68.0,114.0,68.0,99.0,...,99.8,no strips,1222015,22 Jan 15,Yes,NaN,166.5,72.9,26.296567,85.15
2007,NaT,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,Withdrew from intervention and study; missed MO3,1222015,22 Jan 15,Yes,NaN,166.5,NaN,NaN,NaN
2007,2015-06-09,Yes,Blue,2. 23 Shannon Muramoto,6 Month,118.0,68.0,110.0,65.0,92.0,...,101.3,Used values from MO5 for exit visit,1222015,22 Jan 15,Yes,NaN,166.5,71.2,25.683341,83.35
2008,2015-01-20,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),128.0,88.0,136.0,88.0,116.0,...,99.3,no strips,2052015,04 Feb 15,Yes,NaN,148.6,64.5,29.209364,91.80
2008,2015-05-06,Yes,Blue,2. 23 Shannon Muramoto,3 Month,130.0,74.0,122.0,78.0,126.0,...,91.6,NaN,2052015,04 Feb 15,Yes,NaN,148.6,58.0,26.265784,84.00
2008,2015-08-04,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,79.0,128.0,84.0,125.0,...,87.3,NaN,2052015,04 Feb 15,Yes,NaN,148.6,53.4,24.182636,80.30
2009,2015-01-10,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),129.0,93.0,125.0,94.0,136.0,...,100.0,no strips,2052015,05 Feb 15,Yes,NaN,163.4,72.8,27.266367,93.35
2009,NaT,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,Withdrew from intervention and study,2052015,05 Feb 15,Yes,NaN,163.4,NaN,NaN,NaN
2009,NaT,Yes,Blue,NaN,6 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,Withdrew from intervention and study,2052015,05 Feb 15,Yes,NaN,163.4,NaN,NaN,NaN
2014,2015-02-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),132.0,71.0,132.0,70.0,125.0,...,97.4,Machine error (glucometer),4222015,22 Apr 15,Yes,NaN,164.7,74.5,27.464334,93.50
2014,2015-07-25,Yes,Blue,9. 40 Raymond Ma,3 Month,114.0,67.0,123.0,71.0,112.0,...,89.0,NaN,4222015,22 Apr 15,Yes,NaN,164.7,63.8,23.519792,80.00
2014,2015-10-12,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,73.0,134.0,72.0,113.0,...,86.0,NaN,4222015,22 Apr 15,Yes,NaN,164.7,60.0,22.118927,76.50
2017,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),133.0,99.0,132.0,90.0,128.0,...,104.0,NaN,4162015,16 Apr 15,Yes,NaN,178.3,90.5,28.467275,95.75
2017,2015-07-21,Yes,Blue,9. 40 Raymond Ma,3 Month,125.0,59.0,116.0,78.0,122.0,...,101.3,NaN,4162015,16 Apr 15,Yes,NaN,178.3,87.2,27.429242,93.00
2017,2015-10-22,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,75.0,131.0,73.0,123.0,...,96.0,NaN,4162015,16 Apr 15,Yes,NaN,178.3,83.1,26.139564,86.00
2020,2015-04-03,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),139.0,91.0,136.0,89.0,143.0,...,102.3,NaN,4302015,30 Apr 15,Yes,NaN,170.0,94.1,32.560554,99.80
2020,2015-07-30,Yes,Blue,9. 40 Raymond Ma,3 Month,130.0,82.0,140.0,85.0,130.0,...,104.0,NaN,4302015,30 Apr 15,Yes,NaN,170.0,92.5,32.006920,95.55
2020,2015-11-04,Yes,Blue,9. 40 Raymond Ma,6 Month,123.0,80.0,120.0,73.0,120.0,...,100.0,NaN,4302015,30 Apr 15,Yes,NaN,170.0,89.2,30.865052,95.00
2021,2015-04-08,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),131.0,71.0,128.0,66.0,130.0,...,101.2,NaN,5062015,06 May 15,Yes,NaN,144.5,58.8,28.160582,84.50
2021,2015-08-03,Yes,Blue,9. 40 Raymond Ma,3 Month,122.0,62.0,125.0,68.0,110.0,...,100.0,NaN,5062015,06 May 15,Yes,NaN,144.5,58.0,27.777445,85.00
2021,2015-11-09,Yes,Blue,9. 40 Raymond Ma,6 Month,147.0,64.0,123.0,64.0,131.0,...,100.0,NaN,5062015,06 May 15,Yes,NaN,144.5,57.4,27.490092,81.50
2024,2015-04-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,57.0,102.0,55.0,97.0,...,102.9,NaN,4282015,28 Apr 15,Yes,NaN,161.9,73.6,28.079160,88.60
2024,2015-08-25,Yes,Blue,9. 40 Raymond Ma,3 Month,101.0,69.0,96.0,69.0,93.0,...,97.6,NaN,4282015,28 Apr 15,Yes,NaN,161.9,66.0,25.179682,92.05
2024,2015-11-03,Yes,Blue,9. 40 Raymond Ma,6 Month,97.0,56.0,92.0,50.0,93.0,...,98.7,NaN,4282015,28 Apr 15,Yes,NaN,161.9,66.7,25.446739,90.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2015-08-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),125.0,72.0,118.0,68.0,121.0,...,95.0,NaN,9222015,22 Sep 15,Yes,NaN,161.1,77.6,29.899962,99.00
2059,2016-12-08,Yes,Red,9. 40 Raymond Ma,3 Month,118.0,65.0,121.0,60.0,118.0,...,91.0,NaN,9222015,22 Sep 15,Yes,NaN,161.1,75.4,29.052283,96.50
2059,2016-05-10,Yes,Red,9. 40 Raymond Ma,6 Month,110.0,56.0,114.0,55.0,105.0,...,91.0,NaN,9222015,22 Sep 15,Yes,NaN,161.1,73.3,28.243134,92.00
2060,2015-08-11,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),142.0,80.0,131.0,77.0,139.0,...,91.0,NaN,9032015,03 Sep 15,Yes,NaN,166.0,68.3,24.785891,84.90
2060,2015-12-10,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,69.0,125.0,69.0,136.0,...,91.0,NaN,9032015,03 Sep 15,Yes,NaN,166.0,68.1,24.713311,84.50
2060,2016-03-02,Yes,Red,7. 37 Claire Pham,6 Month,135.0,81.0,139.0,88.0,133.0,...,89.8,NaN,9032015,03 Sep 15,Yes,NaN,166.0,66.2,24.023806,83.75
2066,2015-10-02,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),156.0,78.0,134.0,75.0,136.0,...,103.4,NaN,10262015,26 Oct 15,Yes,NaN,161.6,72.6,27.800583,100.70
2066,2016-02-08,Yes,Red,9. 40 Raymond Ma,3 Month,149.0,77.0,139.0,79.0,132.0,...,104.5,Withdrew from intervention; missed MO5,10262015,26 Oct 15,Yes,NaN,161.6,71.1,27.226191,100.50
2066,2016-07-07,Yes,Red,40,6 Month,141.0,61.0,136.0,79.0,127.0,...,101.5,Completed exit visit,10262015,26 Oct 15,Yes,NaN,161.6,71.8,27.494241,93.50
2070,2015-11-04,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),114.0,75.0,126.0,86.0,119.0,...,110.5,"glucometer was in another office, RA had no ac...",12042015,04 Dec 15,Yes,NaN,167.2,88.2,31.549758,103.40
2070,2016-02-29,Yes,Red,7. 37 Claire Pham,3 Month,122.0,83.0,129.0,82.0,123.0,...,109.9,NaN,12042015,04 Dec 15,Yes,NaN,167.2,87.7,31.370905,102.25
2070,2016-06-24,Yes,Red,40,6 Month,118.0,72.0,124.0,81.0,112.0,...,107.5,NaN,12042015,04 Dec 15,Yes,NaN,167.2,87.3,31.227822,88.50
2071,2015-11-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),159.0,83.0,153.0,91.0,133.0,...,109.0,NaN,12092015,09 Dec 15,Yes,NaN,175.8,101.9,32.971328,108.50
2071,2016-03-23,Yes,Red,9. 40 Raymond Ma,3 Month,138.0,80.0,145.0,88.0,135.0,...,106.0,NaN,12092015,09 Dec 15,Yes,NaN,175.8,101.8,32.938972,106.30
2071,2016-06-21,Yes,Red,40,6 Month,127.0,77.0,127.0,77.0,129.0,...,106.5,NaN,12092015,09 Dec 15,Yes,NaN,175.8,101.5,32.841902,105.00
2078,2015-12-01,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),130.0,72.0,123.0,71.0,126.0,...,101.0,NaN,12212015,21 Dec 15,Yes,NaN,155.9,64.8,26.661389,91.00
2078,2016-03-21,Yes,Red,9. 40 Raymond Ma,3 Month,116.0,68.0,125.0,66.0,113.0,...,101.5,NaN,12212015,21 Dec 15,Yes,NaN,155.9,66.1,27.196263,85.50
2078,2016-06-23,Yes,Red,40,6 Month,128.0,67.0,113.0,69.0,120.0,...,98.0,NaN,12212015,21 Dec 15,Yes,NaN,155.9,61.9,25.468210,83.00
2080,2015-12-09,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),135.0,87.0,125.0,86.0,126.0,...,109.0,NaN,1072016,07 Jan 16,Yes,NaN,156.6,78.3,31.928480,104.50
2080,2016-04-07,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,82.0,139.0,82.0,138.0,...,103.0,NaN,1072016,07 Jan 16,Yes,NaN,156.6,76.4,31.153715,101.00
2080,2016-07-07,Yes,Red,40,6 Month,152.0,86.0,130.0,74.0,137.0,...,101.3,NaN,1072016,07 Jan 16,Yes,NaN,156.6,76.5,31.194492,99.95
2081,2015-12-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),143.0,98.0,134.0,97.0,138.0,...,101.5,NaN,1052016,05 Jan 16,Yes,NaN,168.3,85.8,30.291380,96.30
2081,2016-04-05,Yes,Red,9. 40 Raymond Ma,3 Month,141.0,91.0,136.0,101.0,131.0,...,103.0,NaN,1052016,05 Jan 16,Yes,NaN,168.3,87.4,30.856254,95.60
2081,2016-07-05,Yes,Red,40,6 Month,125.0,83.0,128.0,85.0,127.0,...,101.5,NaN,1052016,05 Jan 16,Yes,NaN,168.3,84.9,29.973638,90.30
2083,2015-12-22,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),122.0,77.0,123.0,77.0,128.0,...,106.9,no strips,1212016,21 Jan 16,Yes,NaN,161.2,78.4,30.170742,107.30
2083,2016-04-26,Yes,Red,9. 40 Raymond Ma,3 Month,120.0,74.0,124.0,80.0,124.0,...,99.0,NaN,1212016,21 Jan 16,Yes,NaN,161.2,80.9,31.132819,102.50
2083,2016-07-22,Yes,Red,40,6 Month,118.0,73.0,116.0,74.0,123.0,...,94.5,NaN,1212016,21 Jan 16,Yes,NaN,161.2,73.0,28.092655,100.00
2085,2016-10-08,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),129.0,80.0,123.0,87.0,129.0,...,103.0,no strips,1292016,29 Jan 16,Yes,NaN,155.2,71.4,29.642497,93.50
2085,2016-04-08,Yes,Red,9. 40 Raymond Ma,3 Month,124.0,72.0,110.0,78.0,125.0,...,104.0,NaN,1292016,29 Jan 16,Yes,NaN,155.2,71.6,29.725529,97.00
2085,2016-07-29,Yes,Red,40,6 Month,118.0,72.0,114.0,77.0,112.0,...,99.5,NaN,1292016,29 Jan 16,Yes,NaN,155.2,65.7,27.276079,81.50

In [42]:
#Import Pandas and NumPy packages
import pandas as pd
import numpy as np

#Map directory to get Anthropometrics data
import os
cwd = os.getcwd()
cwd
os.chdir("/Users/ibergeland/Desktop/capstone/")

#Imports Anthropometrics data from a .csv
FT_labs=pd.read_csv('F&T labs.csv')

#Corrects the date to be in the right format

FT_labs=FT_labs.set_index("studyID")
FT_labs["BFastDate"]==pd.to_datetime(FT_labs['BFastDate'],errors="coerce")
FT_labs["MO3FastDate"]==pd.to_datetime(FT_labs['BFastDate'],errors="coerce")
FT_labs["MO6FastDate"]==pd.to_datetime(FT_labs['BFastDate'],errors="coerce")
FT_labs=FT_labs.drop(columns=["MO6Validity","MO6MeanGlu"],axis=1)
FT_labs

,Brae,StudyGroup,Bldstatus1,Randomization,BDM,Age,Gender,BFastDate,BValidity,BNotes,...,MO6Totalcho,MO6HDL,MO6Tri,MO6LDL,MO6choHD,MO6LDLRatio,M6CRFemale,M6CRMale,MO6Insulin,MO6Notes
studyID,,,,,,,,,,,,,,,,,,,,,
2001,25,1,1,1,0,28,0,25-Nov-14,1,None,...,195,46,78,133,4.2,2.9,9,2,6.9,Mean plasma glucose missing
2002,23,2,1,1,0,38,1,6-Dec-14,0,"Insulin time 1, 2, and 4 missing due to hemolysis",...,240,45,155,164,5.3,3.6,2,9,6.5,NaN
2003,25,1,1,1,0,26,1,29-Nov-14,1,None,...,188,31,106,136,6.1,4.4,3,9,20.5,NaN
2004,23,2,1,1,0,60,0,5-Dec-14,0,"Insulin time 2, 4 and 5 missing due to hemolysis",...,259,92,63,154,2.8,1.7,9,1,3.2,NaN
2005,23,2,1,1,0,34,0,18-Dec-14,0,Insulin time 4 missing due to hemolysis,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Withdrew from intervention
2006,23,2,1,1,0,48,1,19-Dec-14,1,None,...,233,92,94,122,2.5,1.3,1,9,20.3,NaN
2007,43,1,1,1,0,27,1,15-Jan-15,0,OGTT 1 hour and Insulin missing test not perfo...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Withdrew from intervention and study
2008,43,1,1,1,0,46,1,29-Jan-15,1,None,...,222,85,40,129,2.6,1.5,1,9,5.1,NaN
2009,43,1,1,1,0,38,1,17-Jan-15,1,None,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Withdrew from intervention and study
2010,43,2,1,1,0,25,1,16-Jan-15,1,None,...,168,52,56,105,3.2,2.0,1,9,5.7,NaN
2011,37,0,1,0,0,26,1,19-Feb-15,1,None,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Dropped out
2012,37,2,1,1,0,29,0,14-Feb-15,0,Insulin time 4 missing due to hemolysis,...,248,87,98,141,2.9,1.6,9,1,9999.0,Test not performed. specimen unsuitbale for te...
2013,37,2,1,1,0,68,1,4-Feb-15,0,"Insulin time 1, 2, 3, 4, and 5 and total chole...",...,238,84,112,132,2.8,1.6,1,9,5.2,NaN
2014,37,1,1,1,0,47,0,28-Feb-15,0,Insulin time 5 missing due to hemolysis,...,147,63,54,73,2.3,1.2,9,1,2.9,NaN
2015,37,0,0,0,9999,42,1,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2016,37,0,1,0,1,33,1,1-Apr-15,1,Not qualified due to having diabetes,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2017,37,1,1,1,0,43,0,10-Apr-15,1,"Age on the lab report is incorrect, corrected ...",...,176,49,90,109,3.6,2.2,9,1,5.2,NaN
2018,37,0,0,0,9999,27,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Dropped out
2019,37,0,0,0,9999,49,0,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2020,37,1,1,1,0,39,0,15-Apr-15,1,None,...,184,33,140,123,5.6,3.7,9,2,3.8,NaN
2021,37,1,1,1,0,61,1,29-Apr-15,0,Insulin time 1 missing due to hemolysis,...,196,33,182,127,5.9,3.8,2,9,7.1,NaN
2022,37,2,1,1,0,38,1,16-Apr-15,1,None,...,182,57,63,112,3.2,2.0,1,9,5.6,NaN
2023,37,2,1,1,0,26,1,1-May-15,1,None,...,159,58,73,86,2.7,1.5,1,9,7.9,NaN
2024,37,1,1,1,0,31,1,23-Apr-15,0,"Insulin time 1, 2, 3, 4, and 5 missing due to ...",...,122,69,62,41,1.8,0.6,1,9,5.4,"there are 2 labs, 1 fasting and 1 non-fasting...."
2025,37,2,1,1,0,41,0,21-Apr-15,1,None,...,149,39,65,97,3.8,2.5,9,2,12.4,NaN
2026,37,2,1,1,0,45,0,28-Apr-15,1,None,...,175,55,60,108,3.2,2.0,9,1,3.0,NaN
2027,37,2,1,1,0,27,1,27-May-15,1,0,...,253,54,118,175,4.7,3.2,2,9,5.1,NaN
2028,37,1,1,1,0,29,0,7-May-15,1,None,...,248,37,336,144,6.7,3.9,9,2,16.9,NaN
2029,37,1,1,1,0,65,0,5-May-15,0,Insulin time 4 missing due to hemolysis,...,240,73,85,150,3.3,2.1,9,1,1.4,NaN
2030,37,0,1,0,1,46,0,6-May-15,1,Not qualified due to having diabetes,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,37,1,1,1,0,40,1,12-Aug-15,0,Mean plasma glucose missing,...,162,52,149,80,3.1,1.5,1,9,9.9,NaN
2057,37,2,1,1,0,40,0,19-Aug-15,0,Mean plasma glucose missing,...,161,63,69,84,2.6,1.3,9,1,2.3,NaN
2058,37,2,1,1,0,36,1,21-Sep-15,0,Mean plasma glucose missing,...,145,36,73,94,4.0,2.6,2,9,8.8,NaN
2059,37,2,1,1,0,38,0,12-Sep-15,0,Insulin time 1 missing due to hemolysis and me...,...,238,37,134,174,6.4,4.7,9,2,6.2,NaN
2060,37,2,1,1,0,42,0,21-Aug-15,0,Insulin time 4 and 5 missing due to hemolysis ...,...,171,50,119,97,3.4,1.9,9,1,8.5,NaN
2061,37,0,0,0,9999,35,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Dropped out
2062,37,0,1,0,1,35,1,25-Sep-15,0,Not qualified due to having diabetes,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2063,37,1,1,1,0,26,0,17-Sep-15,0,Mean plasma glucose missing,...,185,40,185,108,4.6,2.7,9,2,5.4,NaN
2064,37,1,1,1,0,33,0,11-Sep-15,0,Mean plasma glucose missing,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,NaN
2065,37,0,1,0,1,33,1,18-Sep-15,0,Insulin time 2 and 3 missing due to hemolysis;...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2066,37,2,1,1,0,50,1,9-Oct-15,0,Insulin time 4 and 5 missing due to hemolysis ...,...,166,74,69,78,2.2,1.1,1,9,8.6,NaN
2067,37,1,1,1,0,67,1,21-Oct-15,0,Mean plasma glucose missing,...,235,59,104,155,4.0,2.6,2,9,6.7,NaN
2068,37,0,0,0,9999,28,0,#NULL!,0,Not qualified missed two blood draws,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to missing 2 blood draw appo...
2069,37,1,1,1,0,44,0,13-Nov-15,0,Mean plasma glucose missing,...,165,61,70,90,2.7,1.5,9,1,2.2,NaN
2070,37,2,1,1,0,53,1,20-Nov-15,0,Insulin time 4 missing due to hemolysis and me...,...,165,60,75,90,2.8,1.5,1,9,17.6,NaN
2071,37,2,1,1,0,49,0,2-Dec-15,0,Mean plasma glucose missing,...,198,39,207,118,5.1,3.0,9,2,20.4,NaN
2072,37,1,1,1,0,52,0,3-Dec-15,0,Insulin time 1 missing due to hemolysis and me...,...,162,53,76,94,3.1,1.8,9,1,5.2,NaN
2073,37,0,1,0,1,65,0,18-Nov-15,0,Insulin time 1 missing due to hemolysis and me...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2074,37,1,1,1,0,63,1,4-Dec-15,0,Insulin time 2 missing due to hemolysis and me...,...,240,100,116,117,2.4,1.2,1,9,3.5,NaN
2075,37,1,1,1,0,33,0,4-Dec-15,0,Mean plasma glucose missing,...,240,39,185,164,6.2,4.2,9,2,13.0,NaN
2076,37,1,1,1,0,37,1,15-Dec-15,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,NaN
2077,37,0,1,0,1,49,1,12-Dec-15,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2078,37,2,1,1,0,58,1,11-Dec-15,0,Mean plasma glucose missing,...,197,53,191,106,3.7,2.0,1,9,6.0,NaN
2079,37,0,1,0,1,45,1,10-Dec-15,0,Insulin time 5 missing due to hemolysis;mean p...,...,9999,9999,9999,9999,9999.0,9999.0,9999,9999,9999.0,Not qualified due to having diabetes
2080,37,2,1,1,0,41,1,17-Dec-15,0,Insulin time 2 and 3 missing due to hemolysis;...,...,178,46,129,106,3.9,2.3,1,9,19.5,NaN
2081,37,2,1,1,0,30,0,18-Dec-15,0,Mean plasma glucose missing,...,188,48,126,115,3.9,2.4,9,2,10.3,NaN
2082,37,1,1,1,0,45,1,29-Dec-15,0,Mean plasma glucose missing,...,210,35,250,125,6.0,3.6,2,9,31.1,NaN
2083,37,2,1,1,0,52,0,9-Jan-16,0,Mean plasma glucose missing,...,204,75,69,115,2.7,1.5,9,1,5.0,NaN
2084,37,1,1,1,0,25,1,9-Jan-16,0,Insulin time 5 missing due to hemolysis;mean p...,...,129,53,47,67,2.4,1.3,1,9,7.5,NaN
2085,37,2,1,1,0,39,1,15-Jan-16,0,Insulin time 3 missing due to hemolysis;mean p...,...,157,48,55,98,3.3,2.0,1,9,3.0,NaN